#gamepade{
    position: absolute;
    display: none;
}
#gamepade.done{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-content{
    box-shadow: black 0 0 20px;
}
#checkGP{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
#butTable{
    display: none;
}
#butTable.done{
    display: block;
}
.sizeBut{
    width: 50px;
    padding: 2.5px;
}
.sizeBut:hover{
    opacity: 0.8;
}
#span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}


